@use '/public/styles/color.scss' as c;

.dell-select {
  select {
    height: 20px;
    padding: 8px;
    height: max-content;
    border-radius: 9px;
    border: solid 1px c.$highlight-dark;
    color: c.$primary;
    background-color: c.$secundary;
  }

  :focus-visible {
    outline: none;
  }

  .small {
    width: 40%;
  }

  .medium {
    width: 40%;
  }

  .large {
    width: 40%;
  }
}