@use 'public/styles/spacing.scss' as sp;
@use 'public/styles/color.scss' as c;

.profile {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 sp.$stack-md;
    // height: 100vh;

    .backgroundProfile {
        padding: sp.$stack-lg;
        width: 100%;
        height: 90%;
        min-height: 90vh;
        margin-top: 5vh;
        // min-height: 80vh;

        background-color: #232323;
        border-radius: 15px;

        .flexProfile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .first {
                width: 40%;

                .infosPessoal {
                    gap: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .photo {
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        .imgProfile {
                            width: 40%;
                            border-radius: 60%;
                        }
                    }

                    .nameDiv {
                        .name {
                            font-size: 30px;
                            color: white;
                        }
                    }

                    .areaDiv {
                        .area {
                            font-size: 16px;
                            color: white;
                            font-weight: 200;
                            font-style: thin;
                        }
                    }

                    .linkedinDiv {
                        margin-top: 40px;
                        display: flex;
                        flex-direction: row;
                        gap: 30px;
                        align-items: center;

                        .linkedinText {
                            font-size: 16px;
                            color: white;
                            font-weight: 200;
                            font-style: thin;
                        }
                    }

                    .curriculumDiv {
                        position: relative;

                        .btnCurriculum {
                            width: 220px;
                            height: 45px;
                            border-radius: 12px;
                            border: 0;
                            outline: 0;
                            background-color: #00FF66;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 15px;

                            .curriculumText {
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .second {
                width: 60%;
                display: flex;
                flex-direction: column;
                gap: 40px;
                justify-content: center;
                height: 100%;
                margin-top: 20px;
                margin-bottom: 20px;

                .ranking-container {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    height: 40%;
                    background-color: #1D1D1D;
                    border-radius: 24px;

                    .position {
                        padding: sp.$stack-md 0;
                        display: flex;
                        align-items: center;
                        border-bottom: #111010 solid 3px;

                        .positionText {
                            margin-left: 5%;
                            color: white;
                            font-size: 20px;
                        }
                    }

                    .tagsDiv {
                        display: flex;
                        margin-left: 5%;
                        padding: sp.$stack-md 0;

                        .tagTextTitle {
                            color: white;
                            font-size: 16px;
                            margin-top: 1.5%;
                        }

                        .tags {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px;
                            margin-left: 30px;

                            .tag {
                                background-color: #2B2B2B;
                                height: 40px;
                                width: 100px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 8px;

                                .tagText {
                                    color: white;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .highligths {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    height: 40%;
                    background-color: #1D1D1D;
                    border-radius: 24px;

                    .highligthsTitle {
                        height: max-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        padding: 20px;
                        border-bottom: #111010 solid 3px;

                        .highligthsTitleText {
                            color: white;
                            font-size: 22px;
                        }
                    }

                    .highligthsDiv {
                        height: 70%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;

                        .itemHighligth {
                            width: 120px;
                            padding: sp.$stack-md sp.$stack-xs;
                            text-align: center;

                            .imgHighlight {
                                width: 80%;
                                height: 80%;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }

        .divider {
            margin: sp.$stack-lg auto;
            width: 80%;
            height: 2px;
            background-color: c.$secundary-dark;
        }

        .history-title {
            color: #FFFFFF;
            font-size: 30px;
            display: flex;
            padding-left: 12%;
            margin-bottom: sp.$stack-sm;
        }

        .project-history {
            margin: auto;
            width: 90%;

            .project-container {
                margin-bottom: 40px;
            }
        }
    }
}