@use '/public/styles/spacing.scss' as sp;

#visualize-Application {
    display: flex;
    // width: 100vw;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    justify-content: center;
    margin: sp.$stack-xl 0;

    h1 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #0672CB;
    }
    p{
        width: 35%;
        font-size: 16px;
        margin-bottom: 5px;
        align-items: center;
        margin-bottom: sp.$stack-sm;
    }

.question-p {
    width: 35%;
    font-size: 18px;
    margin-bottom: 5px;
    align-items: center;
    // align-self: flex-start;
    color: #0076CE; 
    margin-bottom: sp.$stack-xs;
} 

.info-person{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 35%;
}

.name-p{
    width: 35%;
    font-size: 20px;
    align-items: center;
    margin-bottom: sp.$stack-sm;
}

}

button {
    height: 45px;
    width: 154px;
    background-color: #0672CB;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}