@use '/public/styles/spacing.scss' as sp;
@use '/public/styles/color.scss' as c;

#visualize-Application {
    width: 100%;
    padding: sp.$stack-lg sp.$stack-md;

    .container {

        display: flex;
        width: 90%;
        flex-direction: column;
        // justify-content: center;
        //align-items: center;
        background-color: #232323;
        border-radius: 15px;
        justify-content: center;
        padding: sp.$stack-md;
        color: c.$highlight-dark;
    }

    h1 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: c.$primary;
    }

    p {
        
        font-size: 16px;
        margin-bottom: 5px;
        align-items: center;
        margin-bottom: sp.$stack-sm;
    }

    .question-p {
        
        font-size: 18px;
        margin-bottom: 5px;
        align-items: center;
        // align-self: flex-start;
        color: c.$primary;
        margin-bottom: sp.$stack-xs;
    }

    .info-person {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        
    }

    .name {
        
        font-size: 30px;
        align-items: flex-start;
        margin-bottom: sp.$stack-sm;
        text-align: left;
        color: #FFFFFF ;
    }


}