@use '/public/styles/spacing.scss' as sp;
@use '/public/styles/color.scss' as c;

#create-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        color: #0076CE;
        text-align: center;
        margin-top: 1cm;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        margin-top: sp.$stack-md;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: sp.$stack-xs;
        margin-bottom: sp.$stack-md;

        textarea {
            resize: none;
            border: solid 1px #A1A1A1;
            text-align: center;
            width: 20rem;
            height: 3rem;
            margin-top: 0.5rem;
            align-items: center;
        }

        .input-title {
            color: c.$primary;
        }

        input {
            // margin-bottom: sp.$stack-xs;
        }
    }

    .inputRow {
        align-items: center;
    }
}