.InputCreate{
    border-radius: 0.4rem;
    border-color: #A1A1A1;
    width: 25rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.TitleProject{
    color: #0076CE;
    text-align: center;
    margin-top: 1cm;
}

.InputCreatedescription{
    text-align: center;
    width: 20rem;
    height: 3rem;
    margin-top: 0.5rem;
    align-items: center;
}

.titleInput{
    color: #0076CE;
    margin-top: 2%;
    align-items: center;
}

.DivInput{
    display: flex;
    align-items: center;
    flex-direction: column;
}
