$primary: #ffffff;
$secundary: #3C3C3C;
$secundary-dark: #2b2b2b;
$dark: #111010;
$highlight: #00FF66;
$highlight-light: #D0D0D0;
$highlight-dark: #747474;
$background: #232323;
$background-dark: #1D1D1D;

$light: #ffffff;
$warning: #D10303;