@use './typographic.scss' as t;
@use './color.scss' as c;

* {
  margin: 0;
  font-family: t.$font-primary;
}

#root {
  display: flex;
}

body {
  height: 100%;
  // background: darkgrey;
  background: url('../Background2.png') center 30% no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  //overflow-y: scroll;
}

* ::-webkit-scrollbar {
  width: 12px;
}

* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

* ::-webkit-scrollbar-thumb {
  background-color: c.$secundary;
  // outline: 1px solid c.$primary;
  box-shadow: 0px 3px 3px 0px #00000040;
  outline: 1px solid #00000040;
  border-radius: 6px;
}