@use '/public/styles/spacing.scss' as sp;
@use '/public/styles/color.scss' as c;

#edit-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        color: #0076CE;
        text-align: center;
    }

    .container {
        margin: sp.$stack-md 0;
        margin-left: sp.$stack-md;
        max-height: 300px;
        overflow-y: auto;

        .section-container {
            display: flex;
            flex-direction: column;
            margin-top: sp.$stack-lg;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            gap: sp.$stack-xs;
            margin-bottom: sp.$stack-md;

            .input-title {
                color: c.$primary;
            }
        }

        .inputRow {
            align-items: center;
        }

    }

    .edit-container {
        margin-bottom: sp.$stack-md;
    }
}