@use '/public/styles/spacing.scss' as sp;
@use '/public/styles/color.scss' as c;

#edit-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        color: #0076CE;
        text-align: center;
    }

    .container {
        margin-right: sp.$stack-xs;
        padding: sp.$stack-md sp.$stack-md;
        max-height: 380px;
        overflow-y: auto;

        .section-container {
            display: flex;
            flex-direction: column;
            margin-top: sp.$stack-lg;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            min-height: 60px;
            justify-content: flex-end;
            gap: sp.$stack-xs;
            margin-bottom: sp.$stack-md;

            .input-title {
                color: c.$primary;
            }

            button {
                align-self: flex-end;
            }
        }

        .role-container {
            display: flex;
            gap: 20px;

            .button {
                width: max-content;
            }
        }

        .added-roles {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .added-role-container {
                display: flex;
                align-items: center;
                height: 40px;
                background-color: c.$secundary-dark;
            }
        }

        .inputRow {
            align-items: center;
        }

    }

    .edit-container {
        margin-bottom: sp.$stack-xs;
    }
}