@use '/public/styles/spacing.scss' as sp;

.login {
    display: flex;
    width: 100%;
    height: 100vh;


    .left-side {

        background-color: #232323;
        margin: auto;
        width: 40%;
        height: 90%;
        border-radius: 15px;
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;

        .logo {
            width: 35%;
            margin-bottom: 20px;
        }
        .input-container {
            width: 50%;
            margin-bottom: sp.$stack-sm;

            p {
                margin-left: sp.$stack-xs;
            }

            input {
                height: 28px;
            }
        }

        a {
            text-decoration: none;
        }
        
        .forget {
            width: 50%;
            font-size: 13px;
            margin-top: 4px;
            margin-left: 4px;
            color: #FFFFFF;
        }

        p {
            font-size: 15px;
            margin-bottom: 8px;
            color: #FFFFFF;
        }

        button {
            font-size: 18px;
        }

        p {
            width: 100%;
        }
    }

    .right-side {
        .lakitu-image {
            width: 50%;
        }

        .motivation-text {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 40px;
            text-align: left;
        }
    }

    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}