@use '/public/styles/spacing.scss' as sp;
@use '/public/styles/color.scss' as c;

.home {
  padding: sp.$stack-lg sp.$stack-xs;
  // padding: sp.$stack-md 0; 

  .grid {
    margin: auto;
  }

  .button-container {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: sp.$stack-xl;
    bottom: sp.$stack-lg;

    svg {
      width: 80%;
      height: 80%;
      background-color: c.$secundary;
      border: solid 2px c.$primary;
      color: c.$primary;
      border-radius: 50%;
      cursor: pointer;
    }

    .tooltip {
      display: none;
      color: c.$primary;
      background-color: c.$secundary;
      border-radius: 6px;
      padding: 2px;
      font-weight: bold;
    }

    &:hover .tooltip {
      display: flex;
      width: max-content;
      margin-top: 4px;
    }
  }
}