@use '/public/styles/color.scss' as c;

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;

  .container {
    width: 50%;
    height: 50%;
    background-color: c.$secundary;
  }
}