@use '/public/styles/spacing.scss' as sp;
@use '/public/styles/color.scss' as c;

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  // top: 20px;
  z-index: 1;
  background-color: #00000040;

  .modal-container {
    position:relative;
    display: flex;
    justify-content: center;
    padding: sp.$stack-xs;
    width: 60%;
    min-height: 60%;
    background-color: c.$secundary;
    box-shadow: 0px 3px 3px 0px #00000040;
    // border: solid 1px c.$secundary-dark;
    border: solid 1px c.$secundary-dark;
    border-radius: 30px;
  }

  .backIcon {
    padding: sp.$stack-xs sp.$stack-xs;
    width: 32px;
    position: absolute;
    top: sp.$stack-xs;
    left: sp.$stack-xs;
    align-self: flex-start;
    cursor: pointer;
  }
}