@use '/public/styles/spacing.scss' as sp;

.visualize-project{
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-visualize{

    width: 80%;
    height: 80%;
    border-radius: 15px;
    background-color: #2B2B2B;
    box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 8px 8px 24px 0px rgba(0,0,0,0.5);
    padding: 2rem 3rem;
    h1{
      font-size: 30px;
    }

.p-visualize{
  font-size: 24px;
  margin-top: 2rem;
}

.tags-visualize{
    width: 80%;
    height: 80%;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: #1D1D1D;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    padding: 1rem 1.5rem;
    align-items: center;
}

.card-tag{
  background-color: #2B2B2B;
  border-radius: 5px;
  margin-left: 1rem;
}

.tag-p{
  padding: 0.75rem 0.75rem;
}

.line{
  border: 0.25px solid #111010;
  height: 500px;
}

.line2{
  border: 0.25px solid #111010;
  width: 300px;
  margin-top: 1.5rem;
}

.visualize-info{
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.status-info{
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  align-items: center;

}

.people{
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
}

// .visualize-project{
//     padding: sp.$stack-xl sp.$stack-xl;
//     margin: 0 sp.$stack-md;
//     max-height: 400px;

//     .edit-container {
//         display: flex;
//         align-items: center;
//         column-gap: 20px;

//         svg {
//             width: 30px;
//             height: 30px;
//             cursor: pointer;
//         }
//     }
// }

