@use '/public/styles/color.scss' as c;

.dell-button {
  border: none;
  border-radius: 9px;
  height: 36px;
  padding: 0 8px;

  .default {
    background-color: c.$primary;
    color: c.$secundary;
  }

  :disabled {
    opacity: 0.7;
  }

  .secundary {
    background-color: c.$secundary;
    color: c.$primary;
    border: solid 1px c.$primary;
  }

  .cancel {
    background-color: c.$secundary;
    color: c.$warning;
    border: solid 1px c.$warning;
  }

  .small {
    min-width: 80px;
  }

  .medium {
    min-width: 120px;
  }

  .large {
    min-width: 200px;
  }
}