.forgot {
    color: white;
    width: 200px;
    margin-bottom: 40px;
}
.textForgot {
    color: red;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}