//404 style
#not-found {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    gap: 250px;
    .text404 {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        gap: 28px;
        width: 480px;
        .h1404 {
            font-size: 42pt;
            font-weight: 700;
        }
    }
}